---
import CustomerCard from "../customerCard.astro"

const testimonies = [
    {
        avatar: "https://i.postimg.cc/8krR2rZh/customer1.jpg",
        name: "Jane Smith",
        testimony: "Excelente servicio y fantásticos resultados. ¡Muy recomendable!"
    },
    {
        avatar: "https://i.postimg.cc/yd2FJV8g/customer2.jpg",
        name: "Alice Johnson",
        testimony: "Una experiencia verdaderamente excepcional de principio a fin."
    },
    {
        avatar:"https://i.postimg.cc/8cWLMq7y/customer3.jpg",
        name: "Bob Brown",
        testimony: "Alta calidad y excelente atención al cliente. Volveré a comprar."
    }
]
---
<h2>Testimonios de Nuestros Clientes</h2>
<section id="testimonies">
    {
        testimonies.map(customer => (
            <CustomerCard avatar={customer.avatar} name={customer.name} testimony={customer.testimony}/>
        ))
    }
</section>
<style>
    section{
        display: flex;
        gap: 30px;
        margin-bottom: 4rem;
    }
</style>