---
import ServiceCard from "../serviceCard.astro";

const services = [
    {
        img: "https://i.postimg.cc/D0R6TgG0/carpenter.jpg",
        title: "Carpinteria",
        description:
            "Servicios expertos de carpintería, que incluyen muebles a medida, reparaciones, instalaciones y artesanía en madera para hogares y empresas.",
    },
    {
        img: "https://i.postimg.cc/Pf72Yt7H/cleaner.jpg",
        title: "Limpieza",
        description:
            "Servicios de limpieza profesional para hogares y oficinas, especializados en soluciones exhaustivas, eficientes y ecológicas.",
    },
    {
        img: "https://i.postimg.cc/dtTn9bMy/electricity.jpg",
        title: "Electricidad",
        description:
            "Servicios eléctricos certificados para instalaciones, reparaciones y mantenimiento, garantizando soluciones energéticas seguras y confiables para hogares y negocios.",
    },
    {
        img: "https://i.postimg.cc/htLrkVt4/gardener.jpg",
        title: "Jardineria",
        description:
            "Servicios de jardineria especializados como, arreglo de jardines, poda de arbustos artistica. Jardineros profesionales y confiables.",
    },
    {
        img: "https://i.postimg.cc/CKJ41Y8W/painter.jpg",
        title: "Pintura",
        description:
            "Servicios profesionales de pintura para hogares y negocios, ofreciendo acabados de calidad, asesoramiento de color y preparación de superficies",
    },
    {
        img: "https://i.postimg.cc/mDDy1qNh/plumber.jpg",
        title: "Plumber",
        description:
            "Servicios de plomería expertos, que incluyen reparaciones, instalaciones y mantenimiento para propiedades residenciales y comerciales",
    },
];
---

<h2>Nuestros Servicios</h2>
<section>
    {
        services.map((service) => (
            <ServiceCard
                img={service.img}
                title={service.title}
                description={service.description}
            />
        ))
    }
</section>

<style>
    section {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
        justify-content: space-between;
    }
</style>
