---
import Steps from "../steps.astro"

const steps = [
    {
        img: "https://i.postimg.cc/XJJQ1ZbG/step1.jpg",
        title: "1. Describe tu problema",
        description: "Cuéntenos en qué necesita ayuda y encontraremos al experto adecuado para usted."
    },
    {
        img: "https://i.postimg.cc/vmGP9q2v/step2.jpg",
        title: "2. Revisa tus opcciones",
        description: "Te conectaremos con el experto más cercano que pueda solucionar tu problema."
    },
    {
        img: "https://i.postimg.cc/bvLmRxKf/step3.jpg",
        title: "3. Contrata tu servicio",
        description: "El experto acudirá a su ubicación y solucionará el problema de forma rápida y eficaz."
    }
]
---
<h2>¿Comó Funciona?</h2>
<section id="tutorial">
    {
        steps.map(step => (
            <Steps img={step.img} title={step.title} description={step.description}/>
        ))
    }
</section>

<style>
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    h2 {
        place-self: center;
    }
</style>