---
import Steps from "../steps.astro"

const steps = [
    {
        img: "https://i.postimg.cc/XJJQ1ZbG/step1.jpg",
        title: "1. Describe your problem",
        description: "Tell us what you need help with and we'll find the right expert for you."
    },
    {
        img: "https://i.postimg.cc/vmGP9q2v/step2.jpg",
        title: "2. Get Matched",
        description: "We'll connect you with the nearest expert who can solve your problem."
    },
    {
        img: "https://i.postimg.cc/bvLmRxKf/step3.jpg",
        title: "3. Get it Done",
        description: "The expert will come to your location and fix the issue quickly and efficiently."
    }
]
---
<h2>How it works</h2>
<section id="tutorial">
    {
        steps.map(step => (
            <Steps img={step.img} title={step.title} description={step.description}/>
        ))
    }
</section>

<style>
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    h2 {
        place-self: center;
    }
</style>