---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/searchBar.astro";
import ServicesCards from "../components/sections/servicesCards.astro";
import Tutorial from "../components/sections/tutorial.astro";
import CustomersTestimonies from "../components/sections/customersTestimonies.astro";
---

<Layout>
	<div id="heading">
		<h1>¿Problemas con tu hogar?</h1>
		<span>Busca tu helper</span>
	</div>

	<main>
		<!-- Searchbar -->
		<SearchBar />

		<!-- Services Cards -->
		<ServicesCards />

		<!-- Tutoria Serction -->
		<Tutorial />

		<!-- Testimonies Section -->
		<CustomersTestimonies />
	</main>

	<style>
		main {
			width: 90%;
			place-self: center;
		}

		#heading {
			display: flex;
			width: 100%;
			flex-direction: column;
			text-align: center;
			gap: 15;
			margin: 50px 0;
		}

		#heading h1 {
			font-size: 4rem;
			font-family: "Pacifico", serif;
			color: var(--primary-yellow);
			font-weight: 200;
		}

		#heading span {
			font-size: 1.2rem;
			color: #0005;
		}

	</style>
</Layout>
