---
---
<footer>
    <p>&copy; 2025 Todos los derechos reservados</p>
    <nav>
        <ul>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
        </ul>
    </nav>
</footer>
<style>
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        background-color: rgb(32, 35, 46);
        color: white;
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 10px;
    }
    nav ul a{
        color: white;
    }
</style>