---
import MenuIcon from "../assets/icons/menuIcon.astro";
import UserIcon from "../assets/icons/userIcon.astro";
---

<header>
    <nav>
        <div id="logo">
            <img
                src="https://i.postimg.cc/0N9fPrzY/logo-image.jpg"
                alt="Logo"
                height={50}
            />
            <h1>SERVIYA</h1>
        </div>

        <button>Coviertete en helper</button>
    </nav>
</header>

<style>
    header {
        height: 20%;
        width: 100%;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 7px;
        padding: 10px 20px;
        border: solid 1px #0001;
        box-shadow: 0 0 5px 5px #0001;
    }

    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 5px;
    }

    button {
        padding: 7px 14px;
        border-radius: 1rem;
        border: 1px solid var(--primary-yellow);
        background-color: transparent;
        color: var(--primary-yellow);
        font-weight: 700;
        font-size: 1rem;
        transition: .25s
    }

    button:hover{
        border: 1px solid transparent;
        color: white;
        background-color: var(--primary-yellow);
    }

    h1 {
        font-size: 2rem;
        font-family: "Pacifico", serif;
        color: var(--primary-yellow);
    }
    img {
        height: 3rem;
    }
</style>
