---
const {destiny} = Astro.props
---
<form action="#", method="post">
    <input type="text" placeholder="Describe tu problema...">
    <button><a href={destiny}>Buscar</a></button>
</form>

<style>
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;        
    }

    input{
        height: 100%;
        width: 40%;
        padding: 15px;
        border-radius: 50px 0 0 50px;
        border: solid 1px #0001;
        font-size: 1rem;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    button {
        height: 100%;
        padding: 7px 14px;
        background: var(--primary-yellow);
        border: none;
        color: white;
        font-size: 1rem;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
    }
</style>