---
import Footer from "../components/footer.astro"
import Navbar from "../components/navbar.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://i.postimg.cc/0N9fPrzY/logo-image.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Serviya</title>
	</head>
	<body>
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
	:root {
		--primary-yellow: #fcc800;
		
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-size: 17px;
		font-family: "Roboto", serif;
	}
	h2{
		margin: 3rem 0 1rem 0;
        font-size: 2rem;
        font-family: "Pacifico", serif;
        font-weight: 200;
        color: white;
        background: var(--primary-yellow);
        width: fit-content;
        padding: 5px 20px;
        border-radius: 2rem;
	}
</style>
